{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "target": "es2015",
        "loose": true,
        "paths": {
            "@/*": ["./src/*"]
        },
        "baseUrl": ".",
        "minify": {
            "compress": {
                "unused": true
            },
            "mangle": true
          }
    },
    "module": {
        "type": "commonjs"
    },
    "env": {
        "targets": {
            "node": "24"
        },
        "mode": "entry"
    },
    "minify": false
}
   